*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
nav{
    padding: 2em 7rem;
    align-items: center;
}
nav h5{
    color: #78350f;
}
nav ul li a{
    color: #78350f;
}
.icon2{
    display: none;
    visibility: hidden;
}
button{
    padding-top: 2rem;
   color: #78350f; 
}
section{
    padding: 7rem 2rem;
}
.myside{
    padding: 7rem 2rem; 
}
.play{
    position: relative;
    background-color: #FFFBEB;
    background-image: linear-gradient(135deg, #FEF3C7 50%, transparent 50%);
}
.world{
    background-color: #FFFBEB;
    padding: 7rem 2rem;
    overflow-x: hidden;
}
.box-ds{
  width: 110rem; 
  height: 30rem;
  background-color: yellow;
  position: relative;
  left: 3rem;
}
.world p{
    padding-bottom: 2.3rem;
    padding-top: 1.8rem;
    padding-left: 1rem;
}

.boxes{
    background-color: white;
}
.creative{
    background-color: #FFFBEB;
    padding: 7rem 3rem; 
}
.creative button{
    background-color: white;
    padding-bottom: 0.6rem;
   
}
.creative ul li{
    padding: 1.7rem;
}
.creative p{
    padding-bottom: 1.6rem;
    padding-top: 2rem;
}
@media (max-width:640px) {
    .icon2{
        visibility: visible;
       display: flex;
       justify-content: space-between;
    }
    ul{
      visibility: hidden; 
      display: none; 
    }
    section{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    section h1{
        font-size: 5rem;

    }
    .second{
        display: flex;
       padding-left: 2rem;
        flex-direction: column;
    }
    .second h4{
        align-items: center;
    }
    .creative{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .creative img{
        width: 50rem;
    }
    .world{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    .bees{
       display: none;
    }
}